# Опционально: другая форма. По умолчанию URL задан в src/workshopFormUrl.js
VITE_WORKSHOP_FORM_EMBED_URL=https://docs.google.com/forms/d/e/1FAIpQLScbJlNI40CdngNqyy6X3ukDaFo83GUSoeYyj08Ne8B72W6IqQ/viewform?embedded=true
