# После запуска scripts/google-apps-script/create-workshop-form.gs скопируйте EMBED_URL из журнала.
VITE_WORKSHOP_FORM_EMBED_URL=https://docs.google.com/forms/d/e/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/viewform?embedded=true
